In [ ]:
import pandas as pd

In [ ]:
records = pd.DataFrame(
    data = 0,
    columns = ['Wins', 'Losses', 'Conf Wins', 'Conf Losses', 'Div Wins', 'Div Losses'],
    index = [
        'Arizona Cardinals',
        'Atlanta Falcons',
        'Carolina Panthers',
        'Chicago Bears',
        'Dallas Cowboys',
        'Detroit Lions',
        'Green Bay Packers',
        'Los Angeles Rams',
        'Minnesota Vikings',
        'New Orleans Saints',
        'New York Giants',
        'Philadelphia Eagles',
        'San Francisco 49ers',
        'Seattle Seahawks',
        'Tampa Bay Buccaneers',
        'Washington Commanders',
        'Baltimore Ravens',
        'Buffalo Bills',
        'Cincinnati Bengals',
        'Cleveland Browns',
        'Denver Broncos',
        'Houston Texans',
        'Indianapolis Colts',
        'Jacksonville Jaguars',
        'Kansas City Chiefs',
        'Las Vegas Raiders',
        'Los Angeles Chargers',
        'Miami Dolphins',
        'New England Patriots',
        'New York Jets',
        'Pittsburgh Steelers',
        'Tennessee Titans'
    ]
)

In [ ]:
records.index.name = 'team'

In [ ]:
records.head()

                   Wins  Losses  Conf Wins  Conf Losses  Div Wins  Div Losses
team
Arizona Cardinals     0       0          0            0         0           0
Atlanta Falcons       0       0          0            0         0           0
Carolina Panthers     0       0          0            0         0           0
Chicago Bears         0       0          0            0         0           0
Dallas Cowboys        0       0          0            0         0           0

In [ ]:
records.to_csv('team_records.csv')

In [ ]:
division_info = pd.DataFrame({
    'Team':
    [
        'Arizona Cardinals',
        'Atlanta Falcons',
        'Carolina Panthers',
        'Chicago Bears',
        'Detroit Lions',
        'Dallas Cowboys',
        'Green Bay Packers',
        'Los Angeles Rams',
        'Minnesota Vikings',
        'New Orleans Saints',
        'New York Giants',
        'Philadelphia Eagles',
        'San Francisco 49ers',
        'Seattle Seahawks',
        'Tampa Bay Buccaneers',
        'Washington Commanders',
        'Baltimore Ravens',
        'Buffalo Bills',
        'Cincinnati Bengals',
        'Cleveland Browns',
        'Denver Broncos',
        'Houston Texans',
        'Indianapolis Colts',
        'Jacksonville Jaguars',
        'Kansas City Chiefs',
        'Las Vegas Raiders',
        'Los Angeles Chargers',
        'Miami Dolphins',
        'New England Patriots',
        'New York Jets',
        'Pittsburgh Steelers',
        'Tennessee Titans'
    ],
    'Conference': ['NFC']*16 + ['AFC']*16,
    'Division':
    [
        'West',
        'South',
        'South',
        'North',
        'North',
        'East',
        'North',
        'West',
        'North',
        'South',
        'East',
        'East',
        'West',
        'West',
        'South',
        'East',
        'North',
        'East',
        'North',
        'North',
        'West',
        'South',
        'South',
        'South',
        'West',
        'West',
        'West',
        'East',
        'East',
        'East',
        'North',
        'South'
    ]
})

In [ ]:
division_info['Combined'] = [f"{conf} {div}" for conf, div in zip(division_info['Conference'], division_info['Division'])]

In [ ]:
division_info.head()

                Team Conference Division   Combined
0  Arizona Cardinals        NFC     West   NFC West
1    Atlanta Falcons        NFC    South  NFC South
2  Carolina Panthers        NFC    South  NFC South
3      Chicago Bears        NFC    North  NFC North
4      Detroit Lions        NFC    North  NFC North

In [ ]:
division_info.to_csv('nfl_divisions.csv', index=False)