## Win Probabilities

To determine the win probabilities of each team for a given match, I created a tier list (S, A, B, C, D, and F) of all 32 NFL teams.

<img src="tier_list.png" alt="NFL Teams Tier List" width="450"/>
Note: there is no particular order of teams within each tier.

I then assigned a win probability to each of these tiers based on the projected record for that tier (e.g. S tier is projected to win 12.5 games, so their win probability is about 0.74):

* S - 0.74
* A - 0.65
* B - 0.56
* C - 0.50
* D - 0.41
* F - 0.24

In [ ]:
import pandas as pd

In [ ]:
schedule = pd.read_csv('season_schedule.csv')

In [ ]:
schedule.head()

             Away Team            Home Team
0     Baltimore Ravens   Kansas City Chiefs
1    Green Bay Packers  Philadelphia Eagles
2  Pittsburgh Steelers      Atlanta Falcons
3    Arizona Cardinals        Buffalo Bills
4     Tennessee Titans        Chicago Bears

In [ ]:
win_probabilities = pd.Series(
    data = [12.5/17]*4 + [11/17]*5 + [9.5/17]*5 + [8.5/17]*6 + [7/17]*6 + [4/17]*6,
    index = [
        'Detroit Lions',
        'San Francisco 49ers',
        'Baltimore Ravens',
        'Kansas City Chiefs',
        'Green Bay Packers',
        'Philadelphia Eagles',
        'Cincinnati Bengals',
        'Houston Texans',
        'Buffalo Bills',
        'Atlanta Falcons',
        'Dallas Cowboys',
        'Los Angeles Rams',
        'Cleveland Browns',
        'New York Jets',
        'Chicago Bears',
        'Tampa Bay Buccaneers',
        'Seattle Seahawks',
        'Pittsburgh Steelers',
        'Jacksonville Jaguars',
        'Miami Dolphins',
        'Minnesota Vikings',
        'New Orleans Saints',
        'Arizona Cardinals',
        'Indianapolis Colts',
        'Las Vegas Raiders',
        'Los Angeles Chargers',
        'Carolina Panthers',
        'New York Giants',
        'Washington Commanders',
        'Tennessee Titans',
        'New England Patriots',
        'Denver Broncos',
    ]
)

In [ ]:
win_probabilities.head()

Detroit Lions          0.735294
San Francisco 49ers    0.735294
Baltimore Ravens       0.735294
Kansas City Chiefs     0.735294
Green Bay Packers      0.647059
dtype: float64

In [ ]:
win_probabilities.tail()

New York Giants          0.235294
Washington Commanders    0.235294
Tennessee Titans         0.235294
New England Patriots     0.235294
Denver Broncos           0.235294
dtype: float64

In [ ]:
schedule['Home Team Win Probability'] = [win_probabilities[home_team] / (win_probabilities[home_team] + win_probabilities[away_team]) for away_team, home_team in zip(schedule['Away Team'], schedule['Home Team'])]

In [ ]:
schedule.head()

             Away Team            Home Team  Home Team Win Probability
0     Baltimore Ravens   Kansas City Chiefs                   0.500000
1    Green Bay Packers  Philadelphia Eagles                   0.500000
2  Pittsburgh Steelers      Atlanta Falcons                   0.527778
3    Arizona Cardinals        Buffalo Bills                   0.611111
4     Tennessee Titans        Chicago Bears                   0.680000

In [ ]:
schedule.describe()

       Home Team Win Probability
count                 272.000000
mean                    0.499753
std                     0.125381
min                     0.242424
25%                     0.424242
50%                     0.500000
75%                     0.575758
max                     0.757576

In [ ]:
schedule.to_csv('game_win_probabilities.csv', index=False)